.ins-box-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 20px -1px;
	&__item {
		flex: 1 0 50%;
		max-width: 50%;
		padding-left: 1px;
		margin-bottom: 1px;
		text-align: center;
		img {
			width: 100%;
			height: auto;
		}
	}


	@media (min-width: $mobileL) {
		margin-bottom: $mMarginSmall;
		&__item {
			flex-basis: 25%;
			max-width: 25%;
		}
	}
}
