[tool.poetry]
name = "luchtmeetnetapi"
version = "0.1.0"
description = "API client for the Dutch air quality monitoring network"
authors = ["Daan Sieben <developer@daansieben.net>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/Daanoz/luchtmeetnetapi"
repository = "https://github.com/Daanoz/luchtmeetnetapi"
documentation = "https://github.com/Daanoz/luchtmeetnetapi"
keywords = ["luchtmeetnet", "api", "async", "client"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Framework :: AsyncIO",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3",
  "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
python = "^3.11"
aiohttp = ">=3.0.0"
mashumaro = "^3.11"
orjson = "^3.10.9"

[tool.poetry.group.dev.dependencies]
codespell = "2.3.0"
covdefaults = "2.3.0"
coverage = {version = "7.6.3", extras = ["toml"]}
mypy = "1.12.0"
pre-commit = "4.0.1"
pre-commit-hooks = "5.0.0"
pylint = "3.3.1"
pytest = "8.3.3"
pytest-asyncio = "0.24.0"
pytest-cov = "5.0.0"
ruff = "0.7.0"
safety = "3.2.8"
yamllint = "1.35.1"
syrupy = "4.7.2"
aioresponses = "0.7.6"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/daanoz/luchtmeetnetapi/issues"
Changelog = "https://github.com/daanoz/luchtmeetnetapi/releases"

[tool.coverage.report]
show_missing = true
fail_under = 99

[tool.coverage.run]
plugins = ["covdefaults"]
source = ["luchtmeetnetapi"]

[tool.pylint.MASTER]
ignore = [
  "tests",
]

[tool.pylint.BASIC]
good-names = [
  "_",
  "ex",
  "fp",
  "i",
  "id",
  "j",
  "k",
  "on",
  "Run",
  "T",
]

[tool.pylint.DESIGN]
max-attributes = 8

[tool.pylint."MESSAGES CONTROL"]
disable = [
  "duplicate-code",
  "format",
  "unsubscriptable-object",
  "too-many-instance-attributes",
  "wrong-import-order",
]

[tool.pylint.SIMILARITIES]
ignore-imports = true

[tool.pylint.FORMAT]
max-line-length = 88

[tool.pytest.ini_options]
addopts = "--cov"
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.ruff.lint]
ignore = [
  "ANN101", # Self... explanatory
  "ANN102", # cls... just as useless
  "ANN401", # Opinioated warning on disallowing dynamically typed expressions
  "COM812", # Conflicts with other rules
  "D203", # Conflicts with other rules
  "D213", # Conflicts with other rules
  "D417", # False positives in some occasions
  "ISC001", # Conflicts with other rules
  "PLR2004", # Just annoying, not really useful,
  "FBT001", # Just annoying, not really useful,
  "FBT002", # Just annoying, not really useful,
]
select = ["ALL"]

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[tool.ruff.lint.isort]
known-first-party = ["luchtmeetnetapi"]
force-sort-within-sections = true
split-on-trailing-comma = false
combine-as-imports = true

[tool.ruff.lint.mccabe]
max-complexity = 25

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
