.spinner {
    animation: spin 2s linear infinite;
}

.my-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.my-flex-row {
    text-align: left;
    display: flex;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-bot-1em {
    margin-bottom: 1em;
}

.services-box {
    text-align: start;
}

.success {
    color:#78c83c;
}

.graph-wrapper {
    height: 100%;  
}

div.graph-wrapper svg{
    height: 250px;
    width: 95%;
}