.sidebar-version {
    display: flex;
    color: var(--color-brand-primary);
    font-size: 1rem;
    text-align: left;
    margin: var(--sidebar-item-spacing-vertical) 0;
}

.sidebar-version:visited {
    color: var(--color-brand-primary);
}
