QDateEdit,
QDateTimeEdit,
QSpinBox,
QDoubleSpinBox,
QTreeView,
QListView,
QLineEdit,
QComboBox {{
  color: rgba(44, 49, 59, 200);;
}}

/*  ------------------------------------------------------------------------  */
/*  QComboBox  */

QComboBox {{
  color: rgba(34, 62, 94, 200);
  background-color: rgba(230, 230, 230, 100);
}}

QComboBox:hover {{
  color: rgba(34, 62, 94, 250);
  background-color: rgba(230, 230, 230, 200);
}}

/*  ------------------------------------------------------------------------  */
/*  QGroupBox  */

QGroupBox {{
  text-transform: none;
}}

/*  ------------------------------------------------------------------------  */
/*  QPushButton  */

QPushButton {{
  text-transform: none;
  padding: 1px;
  border: 1px solid rgba(34, 62, 94, 100);
}}

QPushButton:hover {{
  background-color: rgba(230, 230, 230, 90);
}}

/*  ------------------------------------------------------------------------  */
/*  QTabBar  */

QTabBar{{
  text-transform: none;
}}

QTabBar::tab:!selected {{
  background-color: rgba(230, 230, 230, 60);
}}

QTabBar::tab:hover {{
  background-color: rgba(230, 230, 230, 90);
}}

QTabBar::tab:disabled {{
  background-color: rgba(230, 230, 230, 200);
}}

QTabBar::tab:top{{
  margin: 0px;
  padding: 0px 6px;
  height: 60px;
  width: 50px;
}}

QTabBar::tab:bottom{{
  margin: 0px;
  padding: 0px 2px;
  height: 50px;
  width: 55px;
}}


/*  ------------------------------------------------------------------------  */
/*  QToolButton  */

QToolButton {{
  margin: 0px;
  padding: 3px 9px;
  border-right: 1px solid rgba(230, 230, 230, 200);
  border-left: 1px solid rgba(230, 230, 230, 200);
}}

QToolButton:hover {{
  background: rgba(230, 230, 230, 90);
  border-right: 1px solid rgba(230, 230, 230, 230);
  border-left: 1px solid rgba(230, 230, 230, 230);
}}

QToolButton:checked {{
  background: rgba(230, 230, 230, 150);
  border-left: 1px solid rgba(34, 62, 94, 200);
  border-right: 1px solid rgba(34, 62, 94, 200);
}}

QToolButton:checked:hover {{
  background: rgba(230, 230, 230, 180);
  border-left: 1px solid rgba(34, 62, 94, 230);
  border-right: 1px solid rgba(34, 62, 94, 230);
}}

QToolBox::tab {{
  text-transform: none;
}}

/*  ------------------------------------------------------------------------  */
/*  QHeaderView  */

QHeaderView {{
  text-transform: none;
}}

QHeaderView::section {{
  text-transform: none;
}}
