html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**************************************/

 :root {
    --color--pass: green;
    --color--pass-bg: rgba(0, 128, 0, 0.1);
    --color--fail: #dc0000;
    --color--fail-bg: rgba(220, 0, 0, 0.1);
    --color--error: #a700d1;
    --color--error-bg: rgba(167, 0, 209, 0.1);
    --color--skip: orange;
    --color--skip-bg: rgba(255, 166, 0, 0.1);
    --color--justified: #74ad09;
    --color--justified-bg: rgba(116, 173, 9, 0.1);
    --color--expected-failure: #4000f0;
    --color--expected-failure-bg: rgba(64, 0, 240, 0.1);
    --color--unexpected-success: #00c8c8;
    --color--unexpected-success-bg: rgba(0, 200, 200, 0.1);
    --color--empty: #808080;
    --color--empty-bg: rgba(128, 128, 128, 0.1);
    --color--active: green;
    --color--inactive: orange;
}

body {
    padding: 1rem 2rem;
}

@media print {
    body {
        padding: 0;
    }
}

body,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

@media print {
    body,
    textarea {
        font-size: 10pt;
    }
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1.25rem 0;
    page-break-after: avoid;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1.0rem 0;
    page-break-after: avoid;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0.5rem 0;
    page-break-after: avoid;
}

h4,
caption {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: left;
    page-break-after: avoid;
}

p,
ol,
ul {
    margin-bottom: 0.5em;
    line-height: 1.25;
}

ol,
ul {
    padding-left: 1rem;
}

li {
    padding-left: 0.5rem;
}

table {
    margin: 0.5em 0;
    page-break-inside: avoid;
}

thead tr {
    border-bottom: 2px solid #4b4b4b;
}

thead input, thead select {
    display: block;
    width: 90%;
    margin-top: 0.5em;
}

tfoot tr {
    border-top: 3px double #4b4b4b;
}

tfoot td {
    font-weight: bold;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto
}

th {
    text-align: left;
    font-weight: bold;
    background-color: #f6f6f6;
    vertical-align: middle;
}

th,
td {
    padding: 0.25em;
    border: 1px solid #a0a0a0;
    vertical-align: middle;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

tt,
pre {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

pre {
    line-height: 1.1;
    white-space: pre-wrap;
    overflow: auto;
}

textarea,
.textarea,
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"] {
    border: 1px solid #e0e0e0;
    padding: 0.2em;
    min-width: 200px;
}

@media print {
    textarea,
    .textarea,
    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"] {
        border: none;
        padding: 0;
    }
}

@media print {
    section {
        page-break-inside: avoid;
    }
}


/**************************************/

@media print {
    .header {
        page-break-after: always;
    }
}


/**************************************/

@media print {
    .toc {
        page-break-after: always;
    }
}

.main {
    width: 100%;
    max-width: 1200px;
}


.main--wide {
    width: 100%;
    max-width: 100%;
}

/**************************************/

.testcase {
    border: 1px solid #a0a0a0;
    position: relative;
    margin-bottom: 0.25rem;
}

.testcase--passed {}

.testcase--failed {
    border-color: var(--color--fail);
}

.testcase--errored {
    border-color: var(--color--error);
}

.testcase--empty {
    border-color: var(--color--skip);
}

.testcase__name {
    padding: 0 0.5rem 0 1.5rem;
}

.testcase__description {
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
}

.testcase__description__content {
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.testcase__expander {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
}

input.testcase__expander:checked+.testcase__description {
    height: auto;
}

.testcase__description h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
    margin: 1rem 0;
}

.testcase__description h2 {
    font-size: 1.1rem;
    font-variant: small-caps;
    font-weight: normal;
    margin: 1rem 0;
}

.testcase__description h3 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin: 1rem 0;
}

.testcase__description table {
    margin: 1rem 0;
}

.testcase__description th {
    background-color: #c7c7c7;
}

.testcase__header>* {
    float: left;
}

.testcase__header>*:last-child {
    float: right;
}

.testcase__summary {
    margin: 0.5rem;
    color: #5a5a5a;
}

.testcase__header:after {
    content: "";
    display: table;
    clear: both;
}


/**************************************/

.test {
    position: relative;
}

.test+.test {
    border-top: 1px solid #a0a0a0;
}

.test--current {
    background-color: rgb(255, 255, 245);
}

.test--hidden, .test--hidden_lvl {
    visibility: collapse;
}

.test--hidden_id {
    display: none;
}

.test__header {
    padding: 0.25rem 0.5rem 0.25rem 2rem;
    background-color: #f3f3f3;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
}

.test__header span {
    float: left;
    display: block;
    min-height: 1px;
}

.test__header::after {
    clear: both;
    display: block;
    content: " ";
}

.test__result {
    max-width: 10rem;
    font-weight: bold;
}

.test__result:first-letter {
    text-transform: uppercase;
}

.test__header .test__result {
    width: 9rem;
}

.test__header .test__name {
    width: calc(100% - 18rem)
}

.test__time {
    text-align: right;
    width: 9rem;
}

.test--hidden {
    display: none;
}

.test--passed .test__result,
.test--passed .test__result a,
.run-summary--passed {
    color: var(--color--pass);
}

.test--skipped .test__result,
.test--skipped .test__result a,
.run-summary--skipped {
    color: var(--color--skip);
}

.test--justified .test__result,
.test--justified .test__result a,
.run-summary--justified {
    color: var(--color--justified);
}

.test--errored .test__result,
.test--errored .test__result a,
.run-summary--errored {
    color: var(--color--error);
}

.test--failed .test__result,
.test--failed .test__result a,
.run-summary--failed {
    color: var(--color--fail);
}

.test--expected-failure .test__result,
.test--expected-failure .test__result a,
.run-summary--expected-failure {
    color: var(--color--expected-failure);
}

.test--unexpected-success .test__result,
.test--unexpected-success .test__result a,
.run-summary--unexpected-success {
    color: var(--color--unexpected-success);
}

.test--empty .test__result,
.test--empty .test__result a,
.run-summary--empty {
    color: var(--color--empty);
}

.test__detail {
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
    box-shadow: 0px 6px 12px 6px #f3f3f3 inset
}

.test__detail__content {
    margin: 0.5rem;
    width: calc(100% - 2rem);
}

.test__expander {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
}

input.test__expander:checked+.test__detail {
    height: auto;
}

.test__console {
    background-color: #394e4e;
    color: white;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    line-height: 1.25;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    overflow: scroll;
}

.test__console--error {
    color: #e47373;
    border-top: 1px solid #a53f3f;
}

.test__extra {
    margin: 0.5rem 0;
    max-height: 400px;
}

.test__extra>* {
    border: 1px solid #a0a0a0;
}

.test__extra img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
}

.test__extra__text {
    white-space: pre-line;
    background-color: #000000;
    color: white;
    padding: 0.5rem;
    line-height: 1.25;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

.test__comment {
    min-width: 300px;
}

.test__bug-id input {
    width: 50px;
}

.test__comment .textarea {
    min-height: 1em;
}

.test__steps__table {
    width: 100%;
    max-width: 100%;
}

.test__steps tbody tr:nth-child(even) {
    background-color: #fdfdfd;
}

.test__steps__number {
    width: 1em;
    text-align: center;
    font-weight: bold;
}

.test__steps__description {
    width: auto;
}

.test__steps__expectation {
    width: auto;
}

.test__steps__obtained {
    width: 25%;
}

.test__steps__result {
    width: 3em;
}

.test__steps__result__icon {
    font-weight: bold;
    margin-left: 0.5em;
    display: inline-block;
}

.test__steps__result--passed {
    color: var(--color--pass);
}

.test__steps__result--failed {
    color: var(--color--fail);
}

.test__steps__result--justified {
    color: var(--color--justified);
}

.test__steps__result--skipped {
    color: var(--color--skip);
}

.test__steps__result--errored {
    color: var(--color--error);
}

.test__steps__comments {
    width: auto;
}

.req__test-id a, .test-id a  {
    overflow-wrap: anywhere;
}

.subtests {
    width: 100%;
}

.subtests td {
    vertical-align: top;
}

.subtest__extra {
    max-width: 33vw;
}

.subtest__result {
    font-weight: bold;
}

.subtest--passed {
    background-color: var(--color--pass-bg);
}

.subtest--skipped {
    background-color: var(--color--skip-bg);
}

.subtest--failed {
    background-color: var(--color--fail-bg);
}

.subtest--errored {
    background-color: var(--color--error-bg);
}

.subtest__extra__image {
    max-height: 400px;
    max-width: 100%;
    width: auto;
}

/********************************************************/

.inner_table {
    padding: 0;
    margin: 0;
    border: none;
}

.inner_table tr:first-child td {
    border-top: none;
}

.inner_table tr:last-child td {
    border-bottom: none;
}

.inner_table tr td:nth-child(1) {
    border-left: none;
}

.inner_table tr td:nth-child(n) {
    border-right: none;
}

.inner_table__td {
    padding: 0px;
}

/********************************************************/

.testcase__inner_table__td {
}

.table--wide {
    width: 100%;
}

.table__col--test_requirement {
    min-width: 160px;
    max-width: 160px;
}

.table__col--test_level {
    min-width: 100px;
    max-width: 100px;
}

.table__col--req_name {
    min-width: 600px;
    max-width: 40vw;
}

.table__col--cov_p {
    min-width: 125px;
    max-width: 125px;
}

.table__col--test_result {
    min-width: 125px;
    max-width: 125px;
}


/******************** USER STORIES ********************/

.table__col--us-req_id {
    min-width: 60px;
    max-width: 80px;
}

.table__col--us-test_level {
    min-width: 120px;
    max-width: 120px;
}

.table__col--us-text {
    min-width: 600px;
    max-width: 800px;
}

.table__col--us-active {
    min-width: 70px;
    max-width: 80px;
}

.table__col--us-test_case_id {
    min-width: 200px;
    max-width: 350px;
}

.table__col--us-test_result {
    min-width: 80px;
    max-width: 100px;
}

/********************************************************/

.testdef {
    margin: 2rem 0;
}


/********************************************************/

.bar {
    width: 95%;
    position: relative;
    height: 10px;
    margin: 1rem auto;
    background-image: linear-gradient(#AAA, #999);
    box-shadow: 0px 2px 2px 0px #ccc5c5;
}

.bar__line {
    float: left;
    height: 100%;
    position: relative;
}

.bar__line::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
    width: 2px;
    background-color: #ffff00;
}

.bar__line--passed {
    background-color: var(--color--pass);
}

.bar__line--errored {
    background-color: var(--color--error);
}

.bar__line--failed {
    background-color: var(--color--fail);
}

.bar__line--skipped {
    background-color: var(--color--skip);
}

.bar__line--justified {
    background-color: var(--color--justified);
}

.bar__line--expected-failure {
    background-color: var(--color--expected-failure);
}

.bar__line--unexpected-success {
    background-color: var(--color--unexpected-success);
}

.bar__line--empty {
    background-color: var(--color--empty);
}

.bar__line span {
    position: absolute;
    padding: 0.2rem 0.5rem;
    top: -0.3rem;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(85, 85, 85, 0.85);
    color: #252525;
    border-radius: 0.2rem;
    opacity: 0;
    transition: opacity 0.25s;
}

.bar__line:hover span {
    opacity: 1;
}

.keyboard__key {
    display: inline-block;
    border: 1px solid gray;
    background-color: #F5F5F5;
    border-radius: 3px;
    padding: 1px 4px;
    box-shadow: 1px 1px 0 1px #e0e0e0;
}


/********************************************************/

.fore--black {
    color: black;
}

.fore--red {
    color: red;
}

.fore--green {
    color: green;
}

.fore--yellow {
    color: yellow;
}

.fore--blue {
    color: blue;
}

.fore--magenta {
    color: magenta;
}

.fore--cyan {
    color: cyan;
}

.fore--white {
    color: white;
}

.back--black {
    background-color: black;
}

.back--red {
    background-color: red;
}

.back--green {
    background-color: green;
}

.back--yellow {
    background-color: yellow;
}

.back--blue {
    background-color: blue;
}

.back--magenta {
    background-color: magenta;
}

.back--cyan {
    background-color: cyan;
}

.back--white {
    background-color: white;
}

.style--dim {
    opacity: 0.7;
}

.style--bright {
    font-weight: bold;
}

.style--normal {
    font-weight: normal;
}

.log--debug {
    color: #dedede;
}

.log--info {
    color: #73e499;
}

.log--warning {
    color: #cfe473;
}

.log--error {
    color: #e47373;
}

.log--critical {
    color: #e47373;
    font-weight: bold;
    background-color: white;
}


/*************************************/

ol.arabic {
    list-style-type: decimal;
}

ol.upperalpha {
    list-style-type: upper-alpha;
}

ol.loweralpha {
    list-style-type: lower-alpha;
}

ol.upperroman {
    list-style-type: upper-roman;
}

ol.lowerroman {
    list-style-type: lower-roman;
}


/*************************************/
.summary td {
    vertical-align: middle;
}

.summary th {
    position: sticky;
    top: 0;
}

/**************************************/

.issue--justified {
    background-color: #eafee7;
}

.issue--not-justified {
    background-color: #fff0f2;
}

.issue__extra__image {
    max-width: 50vw;
    width: 720px;
}

.issue__extra__text {
    padding: 1em 0;
}

.issue__extra__text + .issue__extra__text {
    border-top: 1px solid gray;
}

/**************************************/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgba(200, 200, 200, 0.3);
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible--active, .collapsible:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

/* Style the collapsible content. Note: hidden by default */
.collapsible__content {
    padding: 0 5px;
    display: none;
    overflow: hidden;
}

.toc-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    overflow: auto;
    width: 480px;
    padding-left: 20px;
}

.fixed-width {
    width: calc(100% - 500px);
}

.piechart {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.piechart__chart {
    width: 33%;
    max-width: 800px;
    min-width: 400px;
}

.feature--passed {
    background-color: var(--color--pass-bg);
}

.feature--justified {
    background-color: var(--color--justified-bg);
}

.feature--skipped {
    background-color: var(--color--skip-bg);
}

.feature--failed {
    background-color: var(--color--fail-bg);
}

.feature--errored {
    background-color: var(--color--error-bg);
}


/**************************************/
/* Style of requirements fields */

.req-active {
    background-color: var(--color--active);
    text-align: center;
    font-weight: bold;
}

.req-inactive {
    background-color: var(--color--inactive);
    text-align: center;
    font-weight: bold;
}

.req-not-covered {
    color: var(--color--fail);
    text-align: center;
    font-weight: bold;
}
