                .odd_day {
                    background-color: rgba(239, 239, 239, 0.5);
                    /* Color claro para los días impares */
                }

                .even_day {
                    background-color: rgba(216, 216, 216, 0.5);
                    /* Color oscuro para los días pares */
                }

                .diff-hours-positive {
                    color: green;
                }

                .diff-hours-negative {
                    color: red;
                }

                .decoration-warning {
                    background-color: rgba(255, 250, 144, 0.5);
                    /* color amarillo para warning */
                }

                .decoration-danger {
                    background-color: rgba(242, 222, 222, 0.5);
                    /* color rojo para danger */
                }

                .decoration-info {
                    background-color: rgba(217, 237, 247, 0.5);
                    /* color azul para info */
                }

                .table-sm>tbody>tr.first-entry-of-day {
                    border-top: 15px solid rgba(0, 120, 175, 0.4) !important;
                }


                .pt-5 {
                    padding-top: 0% !important;
                }

                .no-page-break {
                    page-break-inside: avoid;
                }

                table#attendances.table.table-sm.table-bordered tbody tr td {
                    font-size: 0.8rem;

                    padding: 0.1rem;
                    border: 0.5px solid #dee2e6;
                }
