[tool.poetry]
name = "colorxs"
version = "1.0.0"
description = "Make your terminal output a little more colorful."
authors = ["Ethan Illingsworth <illingsworth.ethan@gmail.com>"]
readme = "README.md"
license = "MIT License"

[tool.poetry.dependencies]
python = "^3.8"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
